.ax_default {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
.ellipse {
}
.image {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.heading_1 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.table_cell {
}
.flow_shape {
}
.connector {
  font-family:"Nunito Sans", sans-serif;
  font-weight:400;
  font-style:normal;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
.shape {
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.sticky_1 {
  text-align:left;
}
.sticky_2 {
  text-align:left;
}
.sticky_3 {
  text-align:left;
}
.sticky_4 {
  text-align:left;
}
.t_page_description {
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:left;
}
.t_title {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:48px;
  color:#000000;
  text-align:left;
}
.t_heading {
  font-family:"Open Sans Bold", "Open Sans", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
  text-align:left;
}
.t_screenshot {
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
}
.t_line {
}
.icon {
}
.box_2 {
}
.box_3 {
}
.label {
  font-size:14px;
  text-align:left;
}
.box_11 {
}
.t_callout {
  font-family:"Poppins", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-align:left;
}
.t_line1 {
}
.t_section_heading {
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#7F7F7F;
  text-align:center;
  text-transform:uppercase;
}
.t_section_body {
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
  line-height:46px;
}
.t_button {
  font-size:18px;
  color:#2A6FF6;
}
.t_description {
  font-family:"Open Sans", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:left;
}
.t_icon {
}
.t_icon_selected {
}
.sticky_21 {
  text-align:left;
}
.sticky_41 {
  text-align:left;
}
.box_21 {
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:38px;
  color:#F8F8F8;
}
.text_link_mouse_down {
}
.text_link_mouse_over {
}
.text_link {
  color:#0000FF;
}
.primary_button1 {
  color:#FFFFFF;
}
.droplist {
  color:#000000;
  text-align:left;
}
.radio_button {
  text-align:left;
}
.tree_node {
  text-align:left;
}
.menu_item {
}
.label1 {
  font-size:14px;
  text-align:left;
}
.line1 {
}
.text_field1 {
  color:#000000;
  text-align:left;
}
.text_field2 {
  color:#000000;
  text-align:left;
}
.placeholder {
}
.ellipse1 {
}
.link_button {
  color:#1E98D7;
}
.arrow {
}
.marker {
  color:#FFFFFF;
}
.menu_item1 {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:left;
}
.link_button1 {
  color:#169BD5;
}
.icon1 {
}
.form_hint1 {
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
}
.box_12 {
}
textarea, select, input, button { outline: none; }
